/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
}
div.row::after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}


/* regole generali bottoni */
a.btn {
    padding: 5px 20px;
    color: #000;
    text-decoration: none;
    display: inline-block;
}
/* bottone blu */
.btn.blue {
    color: #fff;
    padding: 10px 20px;
    background-color: #0161ff;
}


/* stile header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #fff;

}
.container.header {
    width: calc(100% - 40px);
    margin: 0 20px 0 20px;
}
/* stile logo */
#logo, .sx {
    float: left;
}
#logo img  {
    vertical-align: middle;
}
/* stile nav */
.nav a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0 15px 0 15px;
}
/* nav left */
.nav.sx ul {
    margin-left: 40px;
}
.nav.sx ul li {
    display: inline-block;
}

/* nav right */
.nav.dx {
    float: right;
    margin-right: 30px;
}
.nav.dx ul li {
    display: inline-block;
}
.row #accedi {
    float: right;
}
#accedi .btn.blue.header {
    vertical-align: middle;
    line-height: 20px;
}
/* end header */


/* jumbotron */
#jumbotron-section {
    padding-top: 80px;
    background-color: #b4d0e7;
    height: 1000px;
}
.container.jumbotron {
    width: 85%;
}
#title {
    font-size: 90px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.row .text.jumbo, #label-jumbo {
    float: left;
}
.text.jumbo {
    width: 25%;
}
.text.jumbo p {
    margin-bottom: 50px;
    font-size: 18px;
}

.text.jumbo #annulla-iscrizione {
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.text.jumbo i {
    font-size: 50px;
    color: #000;
    margin-top: 40px;
}
#label-jumbo {
    width: 75%;
}
#label-jumbo img {
    width: 100%;
}
/* end stile jumbotron */


/* stile main */
main {
    padding-top: 300px;
}
/* sezione plan */
.container.plan-partner-tutorial {
    width: 75%;
}
.container.plan-partner-tutorial h2 {
    margin-bottom: 80px;
}
#sub-title-plan {
    margin-bottom: 50px;
}
.circle {
    display: inline-block;
    line-height: 23px;
    width: 23px;
    height: 23px;
    border: 2px solid #bbb;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
}
.circle.active-circle {
    border: 6px solid #0061ff;
}
.billing-plan {
    vertical-align: middle;
    font-size: 18px;
    margin-right: 20px;
}
/* box plan */
.box-plan {
    float: left;
    width: calc((100% - 160px) / 3);
    border: 1px solid #bbb;
    min-height: 1300px;
}
.row.plan .container.description-plan .price {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px 0;
}
.row.plan .container.description-plan .condition-plan {
    color: #888;
}
.container.description-plan {
    width: 85%;
    padding-top: 30px;
}
.box-plan .type-plan-box {
    border-bottom: 1px solid #bbb;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.container.description-plan .btn.blue.plan {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}
.container.description-plan .condition-plan {
    margin-bottom: 70px;
}
.container.description-plan .offer-plan p {
    margin: 25px 0;
}
.container.description-plan span {
  display: block;
  margin-bottom: 40px;  
}
.container.description-plan span a {
    text-decoration:  none;
}
.container.description-plan hr {
    width: 60px;
    color: #bbb;
}
.container.description-plan .highlights-plan {
    margin-top: 40px;
}
.highlights-plan p {
    margin: 30px 0;
}
.highlights-plan p i {
    color: #0765ff;
}

/* plan standard */
.box-plan.standard {
    margin: 0 80px 0 80px;
}

/* row enterprise */
.box-plan.enterprise {
    width: 100%;
    float: none;
    min-height: auto;
    margin: 50px 0;
}
.container.enterprise-section {
    width: 96%;
}
.box-plan.enterprise .enterprise-caption, .enterprise-contact {
    float: left;
}
.enterprise-caption {
    width: 70%;
}
.enterprise-contact {
    width: 30%;
}

.enterprise-caption h3, h4, p, .enterprise-contact .btn.blue {
    margin: 40px 0;
}
.box-plan.enterprise .enterprise-contact .btn.blue{
    text-align: center;
    width: 100%;
}
/* end section plan */


/* stile sez partner */
#partner {
    margin-top: 150px;
}
#partner .box {
    float: left;
    width: 50%;
}
#partner .box.partner-label img {
    width: 100%;
}
.box.partner-text {
    padding: 50px 0 0 50px;
    font-weight: 500;
}
.box.box.partner-text p {
    line-height: 35px;
    font-size: 18px;
}
.btn.black-white {
    background-color: #fff;
    border: 1px solid black;
    font-weight: 500;
    padding: 10px 20px;
}
/* end sez partner */


/* stile sez tutorial */
#tutorial {
    margin-top: 150px;
}
#tutorial .box-tutorial {
    width: calc((100% - 140px) / 3);
    float: left;
}
#tutorial .row {
    margin: 150px 0;
}
#tutorial .box-tutorial.center {
    margin: 0 70px;
}
.box-tutorial img {
    width: 100%;
    margin-bottom: 50px;
}
#tutorial p > span {
    text-decoration: underline;
}
/* end sez tutorial */


/* stile sez carousel */
.container.title-carousel {
    width: 75%;
    margin-bottom: 80px;
}
.container.title-carousel a {
    margin-top: 40px;
    font-size: 20px;
    display: inline-block;
}
#carousel {
    width: 100%;
    height: 50vh;
}
#carousel .row aside .row {
    height: 25vh;
}
#carousel aside .row .box-img-carousel {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 25vh;
}
#carousel aside .row .box-img-carousel img {
    width: 50%;
    vertical-align: middle;
}

#carousel .row aside, #carousel .row section {
    float: left;
}
#carousel aside {
    width: 25%;
}
/*color-font  bg-color box carousel */
#carousel .box-img-carousel img{
    filter: invert(1);
}
    /* colonna sinistra */
#left .box-img-carousel.top-left {
    background-color: #a2d39b;
}
#left .box-img-carousel.top-right {
    background-color: #61082b;
}
#left .box-img-carousel.bottom-left {
    background-color: #0093ce;
}
#left .box-img-carousel.bottom-right {
    background-color: #ff1c1c;
}
    /* colonna destra */
#right .box-img-carousel.top-left {
    background-color: #d5001f;
}
#right .box-img-carousel.top-right {
    background-color: #b4d0e7;
}
#right .box-img-carousel.bottom-left {
    background-color: #0d2481;
}
#right .box-img-carousel.bottom-right {
    background-color: #ffd830;
}
.box-img-carousel.top-left {
    width: calc(50% - 20px);
    height: 25vh;
    line-height: calc(25vh - 10px);
}
.active {
    border: 10px solid  #d0e9cd;
}
#carousel .row section {
    width: 50%;
    height: 50vh;
    padding: 40px;
    background-color: #f5f5f5;
}
#carousel .row section hr {
    width: 100px;
    margin: 50px 0;
}
#carousel .row section img {
    width: 20%;
}
/* end sez carousel */


/* sez prova gratuita */
#prova-gratuita {
    width: 100%;
    padding: 150px 0;
    background-color: #b4d0e7;
}
.call-to-action {
    width: 50%;
}
.call-to-action.lead {
    float: left;
}
.call-to-action.lead h2 {
    margin-bottom: 0;
    color: #61082b;
}
.call-to-action.link {
    float: right;
    text-align: right;
}
.call-to-action.link .btn.white {
    background-color: #fff;
    padding: 7px 55px;
}
/* end sez prova gratuita */

/* sez FAQ */
#faq .container.plan-partner-tutorial {
    margin: 150px auto;
}
#faq .row-faq {
    float: left;

}
#faq .show-more-faq {
    float: right;
    vertical-align: middle;
    line-height: 100px;
    padding: 0 30px;
}
#faq .row {
    border-top: 1px solid #bbb;
    margin: 0; 
}
#faq .row-faq > p {
    margin: 0;
    line-height: 100px;
}
#faq .row:last-child {
    border-bottom: 1px solid #bbb;
}
/* end sez faq */

/* footer */
footer {
    width: 100%;
    background-color: #000;
    padding-bottom: 100px;
}
footer .container.footer {
    width: 88%;
}footer .container.footer section {
    float: left;
    width: calc(100% / 5);
}
footer section h4 {
    margin: 100px 0 20px 0;
    color: #fff;
}
footer ul {
    list-style: none;
}
footer ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px 0px;
}
footer hr {
    width: 150px;
    margin-top: 100px;
    margin: 100px 0 50px 0;
}
footer #language {
    color: #fff;
    line-height: 22px;
}
