/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
}
.container.header {
    width: calc(100% - 20px);
    margin: 0 10px 0 10px;
}
div.row::after {
    content: "";
    display: table;
    clear: both;
}

/* stile header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* debug */
    background-color: red;
}
#logo {
    float: left;
}
#logo img {
    vertical-align: middle;
}
.nav.sx {

}